In [4]:
import pandas as pd
import numpy as np

In [6]:
actors = pd.read_csv("./actors.csv")

In [7]:
actors.head(3)

,Actor,Total Gross,Number of Movies,Average per Movie,#1 Movie,Gross
0,Harrison Ford,4871.7,41,118.8,Star Wars: The Force Awakens,936.7
1,Samuel L. Jackson,4772.8,69,69.2,The Avengers,623.4
2,Morgan Freeman,4468.3,61,73.3,The Dark Knight,534.9

In [25]:
## Identifique o ator/atriz com maior número de filmes e o respectivo número de filmes.

index = np.argmax(actors["Number of Movies"])
print(f'O ator/atriz com maior número de filmes é {actors["Actor"][index]} com {actors["Number of Movies"][index]} filmes.')

O ator/atriz com maior número de filmes é Robert DeNiro com 79 filmes.

In [27]:
## Apresente a média da coluna contendo o número de filmes.

print(f'A média do número de filmes é {np.mean(actors["Number of Movies"])}')

A média do número de filmes é 37.88

In [28]:
## Apresente o nome do ator/atriz com a maior média por filme.

index_2 = np.argmax(actors["Average per Movie"])
print(f'O ator/atriz com maior média por filme é {actors["Actor"][index_2]}.')

O ator/atriz com maior média por filme é Anthony Daniels.

In [63]:
## Apresente o nome do(s) filme(s) mais frequente(s) e sua respectiva frequência.

f = actors['#1 Movie']
df = pd.DataFrame({"Filmes": f.values})
moviesGroup = df.groupby(["Filmes"])["Filmes"].count().sort_values(ascending=False)

for i in range(len(moviesGroup)):
  print(f'O filme {moviesGroup.index.values[i]} aparece {moviesGroup.values[i]} vez(es) no dataset.')

O filme The Avengers aparece 6 vez(es) no dataset.
O filme Catching Fire aparece 4 vez(es) no dataset.
O filme Harry Potter / Deathly Hallows (P2) aparece 4 vez(es) no dataset.
O filme The Dark Knight aparece 3 vez(es) no dataset.
O filme Meet the Fockers aparece 3 vez(es) no dataset.
O filme Star Wars: The Force Awakens aparece 3 vez(es) no dataset.
O filme Return of the King aparece 2 vez(es) no dataset.
O filme Dead Man's Chest aparece 2 vez(es) no dataset.
O filme Avengers: Age of Ultron aparece 2 vez(es) no dataset.
O filme Night at the Museum aparece 2 vez(es) no dataset.
O filme Shrek 2 aparece 2 vez(es) no dataset.
O filme American Sniper aparece 1 vez(es) no dataset.
O filme Titanic aparece 1 vez(es) no dataset.
O filme The Phantom Menace aparece 1 vez(es) no dataset.
O filme The LEGO Movie aparece 1 vez(es) no dataset.
O filme Toy Story 3 aparece 1 vez(es) no dataset.
O filme Transformers 4 aparece 1 vez(es) no dataset.
O filme War of the Worlds aparece 1 vez(es) no dataset.
O filme The Martian aparece 1 vez(es) no dataset.
O filme Sixth Sense aparece 1 vez(es) no dataset.
O filme The Grinch aparece 1 vez(es) no dataset.
O filme The Dark Knight Rises aparece 1 vez(es) no dataset.
O filme Ocean's Eleven aparece 1 vez(es) no dataset.
O filme Minions aparece 1 vez(es) no dataset.
O filme Men in Black aparece 1 vez(es) no dataset.
O filme Independence Day aparece 1 vez(es) no dataset.
O filme Hotel Transylvania 2 aparece 1 vez(es) no dataset.
O filme World War Z aparece 1 vez(es) no dataset.